<div class="container">
  <div class="div">
    <p id="Isotipo">Petalos Chile.cl</p>
    <p>1. Añadir al Carro</p>
    <p>2. Pago</p>
    <p>3. Confirmacion</p>
  </div>

  <div class="d-flex">
    <div class="row"></div>
      <div class="detalle_orden col-6">
      <h2>Detalle de Orden</h2>
      <h4>Subtotal</h4>
      <h4>Costo de Envio</h4>
      <h4>Total Compra</h4>
      </div>
    </div>
    <div class="row">
      <div class="direccion_envio col-6">
      <h2>Direccion de Envio</h2>
      <%= simple_form_for(@order) do |f| %>
        <%= f.simple_fields_for :line_items do |item| %>
          <%= item.input :product_id, value: @product.id %>
          <%= item.input :unit_price, value: @product.price_cents %>
          <%= item.input :cantidad, value: @cantidad %>
        <% end %>
        <%= f.submit %>
      <% end %>
      </div>
    </div>
  </div>
</div>

