<div class="container mt-5">
 <div class="d-flex justify-content-center mt-5">
    <h1>Resumen de Compra</h1>
 </div>
 <div class="d-flex justify-content-between aling-item-center border-bottom">
    <div class="text-center" >
      <i class="fas fa-3x fa-cart-plus"></i>
      <p>1. Añadir al Carro</p>
    </div>
    
    <div class="text-center" id="active">
      <i class="far fa-3x fa-money-bill-alt"></i>
      <p>2. Pago</p>
    </div>

    <div class="text-center">
      <i class="fas fa-3x fa-clipboard-check"></i>
      <p>3. Confirmacion</p>
    </div>
  </div>
    <div class="row aling-items-center mt-5">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5  class="card-title">Destinatario : <span style="color:gray">Total: <%= @order.total_price_cents %> CLP </span></h5>
            <h5 class="card-title">Destinatario : <span style="color:gray"> <%= @order.destinatario %></span></h5>
            <h5 class="card-title">Telefono : <span style="color:gray"> <%= @order.telefono %></span></h5>
            <h5 class="card-title">Email : <span style="color:gray"> <%= @order.email_d %></span></h5>
            <h5 class="card-title">Direccion de Envio : <span style="color:gray"> <%= @order.direccion_de_envio %></span></h5>
            <h5 class="card-title">Comuna :  <span style="color:gray"> <%= @order.comuna %></span></h5>
            <h5 class="card-title">Ciudad : <span style="color:gray"> <%= @order.ciudad %></span></h5>
            <h5 class="card-title">Codigo Postal : <span style="color:gray"> <%= @order.codigo_postal %></span></h5>
          
          </div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <div class="card">
          <div class="card-body">
          <%= image_tag("webpay-plus-integracion.png", width: 300, crop: :fill) %>
          <br>
          <%= link_to'Pagar', check_order_path(@order), class:"btn btn-primary m-1"%>
          </div>
        </div>
      </div>
  </div>
</div>
