<h1>Categorias</h1>
<div class="container">
  <div class="d-flex justify-content-center aling-item-center">
    <% @products.each do |item| %>
      <div class="card-product ml-3">
           <%= cl_image_tag item.photo.key, crop: :fill %>
            <div class="card-product-infos">
              <h2><%=item.name%></h2>
              <p><%=item.content%></p>
              <h1>Categorias: <%= @item.category %></h1>
              <%= link_to 'Ver mas', product_path(item.id)%>
            </div>
          </div>
      <%end%>
    </div>
</div>
