<h1>¡Todo tipo de arreglos florales para cualquier ocasión!</h1>
<div class="container">
  <div class="d-flex justify-content-center aling-item-center flex-wrap">
    <% @products.each do |item| %>
      <div class="card-product m-2">
           <%= cl_image_tag item.photo.key, crop: :fill %>
            <div class="card-product-infos">
              <h2><%=item.name%></h2>
              <p><%=item.content%></p>
              <h6>Precio: $ <%=item.price_cents%></h6>
              <%= link_to 'Ver mas', product_path(item.id)%>
            </div>
          </div>
      <%end%>
    </div>

<% if user_signed_in? && current_user.admin %>
  <%= link_to ' Crear Nuevo Producto', new_product_path  %>
<% end %>


</div>
