<div class="container">
  <div class="card-product-detalle ml-3">
     <%= cl_image_tag @product.photo.key, crop: :fill %>
    <div class="card-product-detalle-infos">
      <div class="product-description">
      <%= form_with(url: new_order_path, method: :get) do |f| %>
        <div class="text-center mt-1 mb-1">
          <%= f.hidden_field :product_id, value: @product.id %>
          <h2><%=@product.name%></h2>
        </div>
        <div class="extra-margin">
          <p><%=@product.content%></p>
        </div>
        <div class="extra-margin">
          <h6>Precio $ <%=@product.price_cents%></h6>
        </div>
        <%= f.number_field :cantidad, value: "1", min: 1 %>
        <div class="d-flex justify-content-between mb-4">
          <%= f.submit "Comprar", class:"btn btn-success" %>
          <%= link_to'Volver', products_path, class:"btn btn-primary m-1"%>
        </div>
        <% end %>
     </div>
  </div>
</div>
