<div class="container">
  <div class="card-product-detalle ml-3">
     <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-product-detalle-infos">
      <div class="product-description">
        <div class="text-center mt-5 mb-5">
          <h2><%=@product.name%></h2>
        </div>
        <div class="extra-margin">
          <p><%=@product.content%></p>
        </div>
        <div class="extra-margin">
          <h6>Precio $ <%=@product.price%></h6>
        </div>
        <div class="d-flex justify-content-between extra-margin mb-5">
          <button type="button" class="btn btn-primary m-1" style="background-color:green;">Comprar</button>
          <!--<button type="button" class="btn btn-primary m-1"></button>-->
          <%= link_to'Volver', products_path, class:"btn btn-primary m-1"%>
        </div>
     </div>
  </div>
</div>
