<!DOCTYPE html>
<html>
  <head>
    <title>Petalos Chile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <!-- BOOSTRAP-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    
  <!-- bootstrap css -->
      <link rel="stylesheet" href="../assets/stylesheets/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->




    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/alerts' %>

    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %> 

    <%= yield %>
  </body>

  <!-- Javascript files-->
      <script src="../../javascript/packs/jquery.min.js"></script>
      <script src="../../javascript/packs/popper.min.js"></script>
      <script src="../../javascript/packs/bootstrap.bundle.min.js"></script>
      <script src="../../javascript/packs/jquery-3.0.0.min.js"></script>
      <script src="../..//javascript/packs/plugin.js"></script>
      <!-- sidebar -->
      <script src="../../javascript/packs/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../../javascript/packs/custom.js"></script>
      <!-- javascript --> 
      <script src="../../javascrpts/packs/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 

</html>
